.flexslider .flex-direction-nav a,
.flexslider .flex-direction-nav a {
  line-height: 40px;
}

.node-slideshow.view-mode-teaser {
  position: relative;
}

.node-slideshow.view-mode-teaser .group_content {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
}

.node-slideshow.view-mode-teaser .group_content span.ext {
  display: none;
}

.node-slideshow.view-mode-teaser .group_content a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: block;
  padding: 1em;
}

.node-slideshow.view-mode-teaser .group_content .field-name-title-field a{
  padding-bottom: 0;
  font-size: 2em;
}
.node-slideshow.view-mode-teaser .group_content .field-name-field-tagline a{
  font-size: 1.5em;
}
.node-slideshow.view-mode-teaser .group_content .field-name-slideshow-content h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-weight: normal;
  line-height: normal;
  color: #fff;
}

.node-slideshow.view-mode-teaser .group_content .field-name-slideshow-content h1 a {
  color: #fff;
  display: block;
}

.node-slideshow.view-mode-teaser .group_content .field-name-slideshow-content .tagline {
  color: #fff;
  font-size: 2em;
}

.node-slideshow.view-mode-teaser .group_content .field-name-slideshow-content .tagline a {
  color: #fff;
}


/* Contextual link position */
#block-views-slideshow-block .contextual-links-wrapper{
    right: -7px;
    top: -10px;
    z-index: 1000;
}

#block-views-slideshow-block .node .contextual-links-wrapper{
    top: 2px;
    right: 5px;
    z-index: 999;
}


@media all and (max-width: 960px) {
  .node-slideshow.view-mode-teaser .group_content .field-name-slideshow-content h1 {
    font-size: 3em;
  }
  .node-slideshow.view-mode-teaser .group_content .field-name-slideshow-content .tagline {
    font-size: 1.5em;
  }
}

@media all and (max-width: 780px) {
  .node-slideshow.view-mode-teaser .group_content .field-name-slideshow-content h1 {
    font-size: 1.5em;
  }

  .node-slideshow.view-mode-teaser .group_content .field-name-slideshow-content .tagline {
    font-size: 1em;
  }
}

@media all and (max-width: 640px) {
  .node-slideshow.view-mode-teaser .group_content .field-name-slideshow-content {
    padding: 5px;
  }

  .node-slideshow.view-mode-teaser .group_content .field-name-slideshow-content h1 {
    font-size: 1em;
  }

  .node-slideshow.view-mode-teaser .group_content .field-name-slideshow-content .tagline {
    font-size: 1em;
  }
}

